<div class="d-flex justify-content-center">
    <div class="card mt-3 col-10">
        <div class="card-body">
            <div class="card-title d-flex justify-content-center mt-1">
                <b>
                    <h3>Consultar Atendimentos</h3>
                </b>
            </div>

            <form class="form-inline mt-2 d-flex justify-content-center">
                <input class="form-control mr-sm-2"
                       type="text"
                       placeholder="Nome Paciente"
                       aria-label="Pesquisa"
                       style="width: 80%;"
                       [(ngModel)]="palavraDaPesquisa"
                       [ngModelOptions]="{standalone: true}"
                       #ctrl="ngModel"
                       (keyup.press)="pesquisa()">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        (click)="pesquisa()">Pesquisar</button>
            </form>

            <hr />

            <div>
                <table class="table table-hover table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th scope="col"
                                class="text-center">Data atendimento</th>
                            <th scope="col">Fisioterapeuta</th>
                            <th scope="col">Numero Prontuario</th>
                            <th scope="col">Paciente</th>
                            <th scope="col">CID</th>
                            <th scope="col">CIF</th>
                            <th scope="col"
                                class="text-center"># Opção #</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let atendimento of atendimentos | paginate: { itemsPerPage: pageableResponse.size, currentPage: pageableResponse.number , totalItems: pageableResponse.totalElements}"
                            class="text-center">
                            <td>{{atendimento.data}}</td>
                            <td>{{atendimento.fisioterapeuta.nome}}</td>
                            <td>{{atendimento.prontuario.numero}}</td>
                            <td>{{atendimento.prontuario.paciente.nome}}</td>
                            <td>{{atendimento.prontuario.paciente.cid ? atendimento.prontuario.paciente.cid : '-'}}</td>
                            <td>{{atendimento.prontuario.paciente.cif ? atendimento.prontuario.paciente.cif : '-'}}</td>
                            <td class="d-flex justify-content-around">
                                <button type="button"
                                        class="btn btn-warning btn-sm"
                                        (click)="alterarAtendimento(atendimento)">Alterar</button>
                                <button type="button"
                                        class="btn btn-info btn-sm"
                                        data-toggle="modal"
                                        data-target="#modalVisualizarAtendimento"
                                        (click)="guardarAtendimentoVisualizar(atendimento)">Visualizar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <pagination-controls (pageChange)="mudarPagina($event)"
                                         previousLabel="Anterior"
                                         nextLabel="Próxima"></pagination-controls>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <br />
</div>

<!-- Modal -->
<div class="modal fade"
     id="modalVisualizarAtendimento"
     tabindex="-1"
     aria-labelledby="modalVisualizarAtendimento"
     aria-hidden="true"
     *ngIf="atendimentoVisualizar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center"
                    id="modalExcluirPacienteLabel">Fisioterapeuta responsavél pelo atendimento: {{atendimentoVisualizar.fisioterapeuta.nome}}</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Paciente:</b> {{atendimentoVisualizar.prontuario.paciente.nome}} </p>
                <p><b>Data de Nascimento:</b> {{retiraHorarioData(atendimentoVisualizar.prontuario.paciente.dataNascimento ?
                    atendimentoVisualizar.prontuario.paciente.dataNascimento : ' ')}} </p>
                <p><b>Estado do paciente:</b> {{atendimentoVisualizar.estadoPaciente}} </p>
                <p><b>Relato do atendimento:</b> {{atendimentoVisualizar.relatoAtendimento}} </p>
                <p><b>Data/Hora do atendimento:</b> {{atendimentoVisualizar.data}} </p>
                <hr />
                <p><b>Numero do Prontuário:</b> {{atendimentoVisualizar.prontuario.numero}}</p>
                <p><b>Cid:</b> {{atendimentoVisualizar.prontuario.cid ? atendimentoVisualizar.prontuario.cid : '- - - - - -'}}</p>
                <p><b>Cif:</b> {{atendimentoVisualizar.prontuario.cif ? atendimentoVisualizar.prontuario.cif : '- - - - - -'}}</p>
                <p><b>Observação Prontuário:</b> "{{atendimentoVisualizar.prontuario.observacao}}" </p>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>