<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand"
       href="#">FisioNeurApp</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="dropdown01"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Pacientes</a>
                <div class="dropdown-menu"
                     aria-labelledby="dropdown01">
                    <a class="dropdown-item"
                       href="#">Cadastrar paciente</a>
                    <a class="dropdown-item"
                       href="#">Consultar pacientes</a>
                    <a class="dropdown-item"
                       href="#">Atualizar cadastro pacientes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="dropdown01"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Prontuários</a>
                <div class="dropdown-menu"
                     aria-labelledby="dropdown01">
                    <a class="dropdown-item"
                       href="#">Cadastrar prontuário</a>
                    <a class="dropdown-item"
                       href="#">Consultar prontuários</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="dropdown01"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Relatórios</a>
                <div class="dropdown-menu"
                     aria-labelledby="dropdown01">
                    <a class="dropdown-item"
                       href="#">Atendimentos</a>
                    <a class="dropdown-item"
                       href="#">Pacientes</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown dropleft">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="dropdown01"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Minha conta</a>
                <div class="dropdown-menu"
                     aria-labelledby="dropdown01">
                    <a class="dropdown-item"
                       href="#">Atualizar meus dados</a>
                </div>
            </li>
        </ul>
    </div>
</nav>