<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand"
       href="/fisio">FisioNeurApp</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="dropdown01"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Pacientes</a>
                <div class="dropdown-menu"
                     aria-labelledby="dropdown01">
                    <a class="dropdown-item"
                       href="#">Cadastrar paciente</a>
                    <a class="dropdown-item"
                       href="#">Consultar pacientes</a>
                    <a class="dropdown-item"
                       href="#">Atualizar cadastro pacientes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="dropdown01"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Prontuários</a>
                <div class="dropdown-menu"
                     aria-labelledby="dropdown01">
                    <a class="dropdown-item"
                       href="#">Cadastrar prontuário</a>
                    <a class="dropdown-item"
                       href="#">Consultar prontuários</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="dropdown01"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">Relatórios</a>
                <div class="dropdown-menu"
                     aria-labelledby="dropdown01">
                    <a class="dropdown-item"
                       href="#">Atendimentos</a>
                    <a class="dropdown-item"
                       href="#">Pacientes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdown01"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">Minha Conta</a>
               <div class="dropdown-menu"
                    aria-labelledby="dropdown01">
                  <a class="dropdown-item"
                     routerLinkActive="active"
                     routerLink="atualizar-cadastro-fisioterapeuta">Atualizar meus dados</a>
               </div>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li type="button" class="nav-item" data-toggle="modal" data-target="#modalSair">
                <a class="nav-link"
                   id="sair"
                   aria-haspopup="true"
                   aria-expanded="false">Sair</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade"
     id="modalSair"
     tabindex="-1"
     aria-labelledby="modalSairLabel"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title"
                id="modalSairLabel">Deseja realmente sair do FisioNeurApp?</h5>
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            Ao clicar em sair será redirecionado a pagina de login.
         </div>
         <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">Fechar</button>
            <button type="button"
                    class="btn btn-info"
                    data-dismiss="modal" (click)="sair()">Sair do sistema</button>
         </div>
      </div>
   </div>
</div>