<div class="d-flex justify-content-center">
    <div class="card"
         style="width: 60rem;">
        <div class="card-body"
             [@animacao-painel]="estadoAnimacaoPainelCadastro"
             (click)="onCardChange($event)">
            <div class="card-title d-flex justify-content-center mt-1"
                 *ngIf="!updateProntuario">
                <b>
                    <h3>Registrar Atendimento</h3>
                </b>
            </div>

            <div class="card-title d-flex justify-content-center mt-1"
                 *ngIf="updateProntuario">
                <b>
                    <h3>Atualizar Atendimento</h3>
                </b>
            </div>

            <form [formGroup]="formulario"
                  (keyup)="onCardChange($event)">

                <div class="form-group col-12"
                     *ngIf="!updateProntuario">
                    <small class="form-text mb-1" *ngIf="!pacienteSelecionado"><b>Paciente:</b> * Selecione e/ou pesquise um paciente</small>
                    <h5 class="form-text mb-1" *ngIf="pacienteSelecionado"><b>Paciente selecionado:</b> {{pacienteSelecionado.nome}}</h5>
                    <div>
                        <form class="form-inline mt-2 d-flex justify-content-between">
                            <input class="form-control mr-sm-2"
                                   type="text"
                                   placeholder="Digite o nome do paciente para pesquisar"
                                   aria-label="Pesquisa"
                                   style="width: 85%;"
                                   [(ngModel)]="palavraDaPesquisa"
                                   [ngModelOptions]="{standalone: true}"
                                   #ctrl="ngModel"
                                   (keyup.press)="pesquisa()">
                            <button class="btn btn-outline-success my-2 my-sm-0"
                                    (click)="pesquisa()">Pesquisar</button>
                        </form>
                    </div>
                    <div class="mt-3">
                        <table class="table table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th scope="col">Data de Cadastro</th>
                                    <th scope="col">Data de Nascimento</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col"># Opção #</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center"
                                    *ngFor="let paciente of pacientes | paginate: { itemsPerPage: pageableResponse.size, currentPage: pageableResponse.number , totalItems: pageableResponse.totalElements}">
                                    <td>{{retiraHorarioData(paciente.dataCadastro)}}</td>
                                    <td>{{retiraHorarioData(paciente.dataNascimento)}}</td>
                                    <td>{{paciente.nome}}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-primary btn-sm"
                                                (click)="selecionarPaciente(paciente)">Selecionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <pagination-controls (pageChange)="mudarPagina($event)"
                                                 previousLabel="Anterior"
                                                 nextLabel="Próxima"></pagination-controls>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                <div class="form-group col-6">
                    <small class="form-text mb-1"><b>Data: </b> ( Data da realização do atendimento )</small>
                    <input type="date"
                           class="form-control"
                           placeholder="Data"
                           formControlName="data">
                    <small *ngIf="f.data.valid && f.data.touched"
                           class="form-text text-success">Ok</small>
                    <small *ngIf="f.data.invalid && f.data.touched"
                           class="form-text text-danger">Data inválida</small>
                </div>

                <div class="form-group col-6">
                    <small class="form-text mb-1"><b>Hora: </b> ( Horário da realização do atendimento )</small>
                    <input type="time"
                           class="form-control"
                           placeholder=""
                           formControlName="hora">
                    <small *ngIf="f.hora.valid && f.hora.touched"
                           class="form-text text-success">Ok</small>
                    <small *ngIf="f.hora.invalid && f.hora.touched"
                           class="form-text text-danger">Hora inválida</small>
                </div>
                </div>

                <div class="form-group col-12">
                    <small class="form-text mb-1"><b>Estado do Paciente: </b> ( Descreva o estado fisico em que o paciente se encontra )</small>
                    <input type="text"
                           class="form-control"
                           placeholder="Estado do paciente"
                           formControlName="estado">
                    <small *ngIf="f.estado.valid && f.estado.touched"
                           class="form-text text-success">Ok</small>
                    <small *ngIf="f.estado.invalid && f.estado.touched"
                           class="form-text text-danger">Estado do paciente invalido inválido</small>
                </div>

                <div class="form-group col-12">
                    <small class="form-text mb-1"><b>Relato do Atendimento:</b></small>
                    <textarea class="form-control"
                              id="validationTextarea"
                              placeholder="Descreva como foi realizado o atendimento do paciente"
                              formControlName="relato"></textarea>
                    <small *ngIf="f.relato.valid && f.relato.touched"
                           class="form-text text-success">Ok</small>
                    <small *ngIf="f.relato.invalid && f.relato.touched"
                           class="form-text text-danger">Relato do atendimento inválida</small>
                </div>

                <button type="submit"
                        class="btn btn-primary btn-sm btn-block"
                        [disabled]="habilitaBotaoCadastro()"
                        *ngIf="!updateProntuario"
                        (click)="cadastrarAtendimento()">Registrar atendimento</button>

                <button type="submit"
                        class="btn btn-primary btn-sm btn-block"
                        [disabled]="habilitaBotaoCadastro()"
                        *ngIf="updateProntuario"
                        (click)="atualizarProntuario()">Atualizar cadastro Prontuario</button>
                <p class="small text-danger text-center pt-3"
                   *ngFor="let mensagem of mensagensErroRegistro">{{mensagem}}</p>
            </form>
            <hr />
            <p class="small text-center text-success"
               *ngIf="mensagemCadastroRealizado"> {{mensagemCadastroRealizado}}</p>

        </div>
        <div class="d-flex justify-content-end">
            <button type="button"
                    class="m-1 btn btn-secondary btn-sm"
                    (click)="cancelarAtualizacaoCadastro()"
                    *ngIf="updateProntuario">Cancelar atualização de Prontuário</button>
        </div>
    </div>
    <br />
</div>