<div class="d-flex justify-content-center m-2">
    <div class="card col-12">
        <b class="card-title d-flex justify-content-center mt-2">
            <h3>Relatório de pacientes</h3>
        </b>
        <div class="card-body col-12 d-flex pt-0">
            <div class="card col-12 m-0">
                <div class="card-body col-12 pt-0">
                    <b class="card-title d-flex justify-content-center mt-1">
                        <h4>- Filtros -</h4>
                    </b>
                    <form [formGroup]="formulario"
                          (click)="onCardChange($event)"
                          [@animacao-painel]="estadoAnimacaoPainelRelatorioAtendimento">
                        <div class="mt-3">
                            <b class="d-flex justify-content-center pb-0 mb-0">
                                <h5>Filtrar por Data de Nascimento Paciente</h5>
                            </b>
                            <div class="d-flex mt-0 pt-0">
                                <div class="col-1 pt-0"></div>
                                <div class="form-group mr-2 pt-0 col-5">
                                    <small class="form-text mb-1"><b>Data inicial: </b> ( Selecione a data inicial
                                        )</small>
                                    <input type="date"
                                           class="form-control text-center"
                                           placeholder="Data"
                                           formControlName="pacienteDataNascimentoInicial">
                                    <small *ngIf="f.pacienteDataNascimentoInicial.valid && f.pacienteDataNascimentoInicial.touched"
                                           class="form-text text-success text-center">Ok</small>
                                    <small *ngIf="f.pacienteDataNascimentoInicial.invalid && f.pacienteDataNascimentoInicial.touched"
                                           class="form-text text-danger text-center">Data inválida</small>
                                </div>
                                <div class="form-group ml-2 pt-0 col-5">
                                    <small class="form-text mb-1"><b>Data final: </b> ( Selecione a data final )</small>
                                    <input type="date"
                                           class="form-control text-center"
                                           placeholder="Data"
                                           formControlName="pacienteDataNascimentoFinal">
                                    <small *ngIf="f.pacienteDataNascimentoFinal.valid && f.pacienteDataNascimentoFinal.touched"
                                           class="form-text text-success text-center">Ok</small>
                                    <small *ngIf="f.pacienteDataNascimentoFinal.invalid && f.pacienteDataNascimentoFinal.touched"
                                           class="form-text text-danger text-center">Data inválida</small>
                                </div>
                                <div class="col-1 pt-0"></div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <b class="d-flex justify-content-center mt-0">
                                <h5>Filtrar por Data de Cadastro Paciente</h5>
                            </b>
                            <div class="d-flex mt-0 pt-0">
                                <div class="col-1 pt-0"></div>
                                <div class="form-group mr-2 pt-0 col-5">
                                    <small class="form-text mb-1"><b>Data inicial: </b>( Selecione a data inicial )</small>
                                    <input type="date"
                                           class="form-control text-center"
                                           placeholder="Data"
                                           formControlName="pacienteDataCadastroInicial">
                                    <small *ngIf="f.pacienteDataCadastroInicial.valid && f.pacienteDataCadastroInicial.touched"
                                           class="form-text text-success text-center">Ok</small>
                                    <small *ngIf="f.pacienteDataCadastroInicial.invalid && f.pacienteDataCadastroInicial.touched"
                                           class="form-text text-danger text-center">Data inválida</small>
                                </div>

                                <div class="form-group ml-2 pt-0 col-5">
                                    <small class="form-text mb-1"><b>Data final: </b>( Selecione a data final )</small>
                                    <input type="date"
                                           class="form-control text-center"
                                           placeholder="Data"
                                           formControlName="pacienteDataCadastroFinal">
                                    <small *ngIf="f.pacienteDataCadastroFinal.valid && f.pacienteDataCadastroFinal.touched"
                                           class="form-text text-success text-center">Ok</small>
                                    <small *ngIf="f.pacienteDataCadastroFinal.invalid && f.pacienteDataCadastroFinal.touched"
                                           class="form-text text-danger text-center">Data inválida</small>
                                </div>
                                <div class="col-1 pt-0"></div>
                            </div>
                        </div>

                        <div class="d-flex mt-3">
                            <div class="form-group col-1"></div>
                            <div class="form-group col-5 mr-2 pt-0">
                                <small class="form-text mb-1 text-center"><b>Nome Paciente: </b> ( Nome do paciente
                                    )</small>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Nome paciente"
                                       formControlName="pacienteNome">
                                <small *ngIf="f.pacienteNome.valid && f.pacienteNome.touched"
                                       class="form-text text-success text-center">Ok</small>
                                <small *ngIf="f.pacienteNome.invalid && f.pacienteNome.touched"
                                       class="form-text text-danger text-center">Cpf inválido</small>
                            </div>
                            <div class="form-group col-5 mr-2 pt-0">
                                <small class="form-text mb-1 text-center"><b>CPF Paciente: </b> ( Nome do paciente
                                    )</small>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Cpf paciente"
                                       formControlName="pacienteCpf">
                                <small *ngIf="f.pacienteCpf.valid && f.pacienteCpf.touched"
                                       class="form-text text-success text-center">Ok</small>
                                <small *ngIf="f.pacienteCpf.invalid && f.pacienteCpf.touched"
                                       class="form-text text-danger text-center">Nome inválido</small>
                            </div>
                            <div class="form-group col-1"></div>
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit"
                                    class="btn btn-primary btn-sm btn-block col-3 m-3"
                                    [disabled]="habilitarBotaoPesquisa()"
                                    (click)="consultarRelatorio()">Pesquisar</button>
                            <button *ngIf="habilitaBotaoImpressao"
                                    class="btn btn-info btn-sm btn-block col-3 m-3"
                                    printSectionId="tabelaRelatorioAtendimento"
                                    ngxPrint
                                    [useExistingCss]="true">Imprimir Relatório</button>
                            <!-- (click)="imprimeRelatorio('tabelaRelatorioAtendimento')" -->
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <p class="small text-danger text-center pt-3"
                               *ngFor="let mensagem of mensagensErroRelatorio">{{mensagem}}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body col-12 d-flex m-0 pt-0"
             *ngIf="pacientes.length"
             id="tabelaRelatorioAtendimento">
            <div class="card col-12 m-0">
                <div class="card-body col-12">
                    <div class="row justify-content-center">
                        <table class="table table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th scope="col"
                                        class="align-middle">Data Nascimento</th>
                                    <th scope="col"
                                        class="align-middle">Data cadastro</th>
                                    <th scope="col"
                                        class="align-middle">Nome</th>
                                    <th scope="col"
                                        class="align-middle">Cpf</th>
                                    <th scope="col"
                                        class="align-middle">Visualiza Atendimentos ?</th>
                                    <th scope="col"
                                        class="align-middle">E-mail</th>
                                    <th scope="col"
                                        class="align-middle">Telefone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let paciente of pacientes "
                                    class="text-center">
                                    <td>{{retiraHorarioData(paciente.dataNascimento)}}</td>
                                    <td>{{paciente.dataCadastro}}</td>
                                    <td>{{paciente.nome}}</td>
                                    <td>{{paciente.cpf}}</td>
                                    <td>{{paciente.podeVisualizarSeuAtendimento ? 'Sim' : 'Não'}}</td>
                                    <td>{{validaCampo(paciente.email)}}</td>
                                    <td>{{validaCampo(paciente.telefone)}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="d-flex justify-content-center">
                            <pagination-controls (pageChange)="mudarPagina($event)"
                                                 previousLabel="Anterior"
                                                 nextLabel="Próxima"></pagination-controls>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body col-12 d-flex m-0 pt-0"
             *ngIf="(pacientes.length == 0) && pesquisaFoiRealizada "
             [@animacao-painel]="estadoAnimacaoSemResultados">
            <div class="card col-12 m-0">
                <div class="card-body col-12">
                    <div class="row justify-content-center">
                        <h1><b>Sem Resultados !</b></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>