<div class="d-flex justify-content-center">
       <div class="card"
            style="width: 60rem;">
              <div class="card-body"
                   [@animacao-painel]="estadoAnimacaoPainelCadastro"
                   (click)="onCardChange($event)">
                     <div class="card-title"></div>

                     <form [formGroup]="formulario"
                           (ngSubmit)="cadastrarPaciente()"
                           (keyup)="onCardChange($event)">
                            <div class="form-group">
                                   <small class="form-text mb-1">Nome:</small>
                                   <input type="text"
                                          class="form-control"
                                          placeholder="Nome paciente"
                                          formControlName="nome">
                                   <small *ngIf="f.nome.valid && f.nome.touched"
                                          class="form-text text-success">Ok</small>
                                   <small *ngIf="f.nome.invalid && f.nome.touched"
                                          class="form-text text-danger">Nome inválido</small>
                            </div>

                            <div class="form-group">
                                   <small class="form-text mb-1">E-mail:</small>
                                   <input type="email"
                                          class="form-control"
                                          placeholder="E-mail"
                                          formControlName="email">
                                   <small *ngIf="f.email.valid && f.email.touched"
                                          class="form-text text-success">Ok</small>
                                   <small *ngIf="f.email.invalid && f.email.touched"
                                          class="form-text text-danger">E-mail inválido</small>
                            </div>

                            <div class="form-group">
                                   <small class="form-text mb-1">Numero de telefone:</small>
                                   <input type="text"
                                          class="form-control"
                                          placeholder="Numero de Telefone"
                                          formControlName="telefone"
                                          mask="( 00 ) 0 0000-0000">
                                   <small *ngIf="f.telefone.valid && f.telefone.touched"
                                          class="form-text text-success">Ok</small>
                                   <small *ngIf="f.telefone.invalid && f.telefone.touched"
                                          class="form-text text-danger">Telefone inválido</small>
                            </div>

                            <div class="form-group">
                                   <small class="form-text mb-1">Cpf:</small>
                                   <input type="text"
                                          class="form-control"
                                          placeholder="Cpf"
                                          formControlName="cpf"
                                          mask="000.000.000-00">
                                   <small *ngIf="f.cpf.valid && f.cpf.touched"
                                          class="form-text text-success">Ok</small>
                                   <small *ngIf="f.cpf.invalid && f.cpf.touched"
                                          class="form-text text-danger">Cpf inválido</small>
                            </div>

                            <div class="form-group">
                                   <small class="form-text mb-1">Data de Nascimento:</small>
                                   <input type="date"
                                          class="form-control"
                                          placeholder="Data de nascimento"
                                          formControlName="dataNascimento">
                                   <small *ngIf="f.dataNascimento.valid && f.dataNascimento.touched"
                                          class="form-text text-success">Ok</small>
                                   <small *ngIf="f.dataNascimento.invalid && f.dataNascimento.touched"
                                          class="form-text text-danger">Data inválida</small>
                            </div>

                            <button type="submit"
                                    class="btn btn-primary btn-sm btn-block"
                                    [disabled]="habilitaBotaoCadastro()">Cadastre-se</button>
                            <p class="small text-danger text-center pt-3"
                               *ngFor="let mensagem of mensagensErroRegistro">{{mensagem}}</p>
                     </form>
                     <hr />
                     <p class="small text-center text-success"
                        *ngIf="mensagemCadastroRealizado"> {{mensagemCadastroRealizado}}</p>

              </div>
       </div>
       <br />
</div>