<div class="d-flex justify-content-center">
    <div class="card"
         style="width: 60rem;">
        <div class="card-body"
             [@animacao-painel]="estadoAnimacaoPainelCadastro"
             (click)="onCardChange($event)">
            <div class="card-title"></div>

            <form [formGroup]="formulario"
                  (ngSubmit)="cadastrarUsuario()"
                  (keyup)="onCardChange($event)">
                
                <div class="form-group">
                    <small class="form-text mb-1">Senha atual:</small>
                    <input type="password"
                           class="form-control"
                           placeholder="Senha atual"
                           formControlName="senhaAtual">
                    <small *ngIf="f.senhaAtual.valid && f.senhaAtual.touched"
                           class="form-text text-success">Ok</small>
                    <small *ngIf="f.senhaAtual.invalid && f.senhaAtual.touched"
                           class="form-text text-danger">Senha Atual Invalida</small>
                </div>

                <div class="form-group">
                    <small class="form-text mb-1">Nova senha:</small>
                    <input type="password"
                           class="form-control"
                           placeholder="Nova senha"
                           formControlName="novaSenha"
                           (change)="onPasswordChange()">
                    <small *ngIf="f.novaSenha.valid && f.novaSenha.touched"
                           class="form-text text-success">Ok</small>
                    <small *ngIf="f.novaSenha.invalid && f.novaSenha.touched"
                           class="form-text text-danger">Senha inválida</small>
                </div>
                
                <div class="form-group">
                    <small class="form-text mb-1">Repita a nova senha:</small>
                    <input type="password"
                           class="form-control"
                           placeholder="Repita a sua nova senha"
                           formControlName="senhaConfirmacao"
                           (change)="onPasswordChange()">
                    <small *ngIf="f.senhaConfirmacao.valid && f.senhaConfirmacao.touched"
                           class="form-text text-success">Ok</small>
                    <small *ngIf="f.senhaConfirmacao.invalid && f.senhaConfirmacao.touched"
                           class="form-text text-danger">Senha inválida</small>
                    <small *ngIf="senhaConfirmacao.hasError('mismatch')"
                           class="form-text text-danger">Senhas não são idênticas</small>
                </div>

                <button type="submit"
                        class="btn btn-primary btn-sm btn-block"
                        [disabled]="habilitaBotaoEdicao()">Salvar</button>
                <p class="small text-danger text-center pt-3"
                   *ngFor="let mensagem of mensagensErroRegistro">{{mensagem}}</p>
            </form>
            <hr />
        </div>
    </div>
</div>
