<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div style="width: 18rem;">
                <img src="/assets/HandsOnBackBone.jpg"
                     class="img-fluid">
            </div>
            <div style="width: 18rem;">
                <img src="/assets/HandsOnBackBone.jpg"
                     class="img-fluid">
            </div>
            <div style="width: 18rem;">
                <img src="/assets/HandsOnBackBone.jpg"
                     class="img-fluid">
            </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center"
             *ngIf="painelExibido === 'login'">
            <fisio-login (exibirPainel)="exibirPainel($event)"></fisio-login>
        </div>

        <div class="col-sm-6 d-flex justify-content-center"
             *ngIf="painelExibido === 'cadastro'">
            <fisio-cadastro (exibirPainel)="exibirPainel($event)"></fisio-cadastro>
        </div>

        <div class="col-sm-6 d-flex justify-content-center"
             *ngIf="painelExibido === 'recuperarSenha'">
            <fisio-esqueci-minha-senha (exibirPainel)="exibirPainel($event)"></fisio-esqueci-minha-senha>
        </div>

        <div class="col-sm-3">
            <div style="width: 18rem;">
                <img src="/assets/HandsOnBackBone.jpg"
                     class="img-fluid">
            </div>
            <div style="width: 18rem;">
                <img src="/assets/HandsOnBackBone.jpg"
                     class="img-fluid">
            </div>
            <div style="width: 18rem;">
                <img src="/assets/HandsOnBackBone.jpg"
                     class="img-fluid">
            </div>
        </div>
    </div>
</div>