<div class="d-flex justify-content-center">
    <div class="card"
         style="width: 60rem;">
        <div class="card-body"
             [@animacao-painel]="estadoAnimacaoPainelCadastro"
             (click)="onCardChange($event)">
            <div class="card-title d-flex justify-content-center mt-1"
                 *ngIf="!updatePaciente">
                <b>
                    <h3>Cadastrar Prontuário</h3>
                </b>
            </div>

            <div class="card-title d-flex justify-content-center mt-1"
                 *ngIf="updatePaciente">
                <b>
                    <h3>Atualizar Prontuario</h3>
                </b>
            </div>

            <form [formGroup]="formulario"
                  (keyup)="onCardChange($event)">
                <div class="col-12">
                    <div class="form-group">
                        <small class="form-text mb-1">Numero do prontuário:</small>
                        <input type="text"
                               class="form-control"
                               placeholder="Será fornecido N° Prontuario após a seleção do paciente."
                               [(ngModel)]="numeroProntuario"
                               [ngModelOptions]="{standalone: true}"
                               [value]="numeroProntuario"
                               disabled>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-group col-6">
                        <small class="form-text mb-1">CID: (Classificação Internacional de Doenças)</small>
                        <input type="text"
                               class="form-control"
                               placeholder="DID do paciente, caso possua."
                               formControlName="cid">
                        <small *ngIf="f.cid.valid && f.cid.touched"
                               class="form-text text-success">Ok</small>
                        <small *ngIf="f.cid.invalid && f.cid.touched"
                               class="form-text text-danger">CID inválido</small>
                    </div>
                    <div class="form-group col-6">
                        <small class="form-text mb-1">CIF: (Classificação Internacional de Funcionalidade)</small>
                        <input type="text"
                               class="form-control"
                               placeholder="DID do paciente, caso possua."
                               formControlName="cif">
                        <small *ngIf="f.cif.valid && f.cif.touched"
                               class="form-text text-success">Ok</small>
                        <small *ngIf="f.cif.invalid && f.cif.touched"
                               class="form-text text-danger">CIF inválido</small>
                    </div>
                </div>

                <div class="form-group col-12">
                    <small class="form-text mb-1">Paciente: (Selecione um paciente)</small>
                    <div>
                        <form class="form-inline mt-2 d-flex justify-content-between">
                            <input class="form-control mr-sm-2"
                                   type="text"
                                   placeholder="Digite o nome do paciente para pesquisar"
                                   aria-label="Pesquisa"
                                   style="width: 85%;"
                                   [(ngModel)]="palavraDaPesquisa"
                                   [ngModelOptions]="{standalone: true}"
                                   #ctrl="ngModel"
                                   (keyup.press)="pesquisa()">
                            <button class="btn btn-outline-success my-2 my-sm-0"
                                    (click)="pesquisa()">Pesquisar</button>
                        </form>
                    </div>

                    <div class="mt-3">
                        <table class="table table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Data de Cadastro</th>
                                    <th scope="col">Data de Nascimento</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col"># Opção #</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let paciente of pacientes | paginate: { itemsPerPage: pageableResponse.size, currentPage: pageableResponse.number , totalItems: pageableResponse.totalElements}">
                                    <td>{{paciente.dataCadastro}}</td>
                                    <td>{{paciente.dataNascimento}}</td>
                                    <td>{{paciente.nome}}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-primary btn-sm"
                                                (click)="selecionarPaciente(paciente)">Selecionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <pagination-controls (pageChange)="mudarPagina($event)"
                                                 previousLabel="Anterior"
                                                 nextLabel="Próxima"></pagination-controls>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <small class="form-text mb-1">Observação:</small>
                    <textarea class="form-control"
                              id="validationTextarea"
                              placeholder="Descreva observação do paciente, caso possua."
                              required></textarea>
                    <small *ngIf="f.observacao.valid && f.observacao.touched"
                           class="form-text text-success">Ok</small>
                    <small *ngIf="f.observacao.invalid && f.observacao.touched"
                           class="form-text text-danger">Observação inválida</small>
                </div>

                <button type="submit"
                        class="btn btn-primary btn-sm btn-block"
                        [disabled]="habilitaBotaoCadastro()"
                        *ngIf="!updatePaciente"
                        (click)="cadastrarProntuario()">Cadastrar Prontuario</button>

                <button type="submit"
                        class="btn btn-primary btn-sm btn-block"
                        [disabled]="habilitaBotaoCadastro()"
                        *ngIf="updatePaciente"
                        (click)="atualizarPaciente()">Atualizar cadastro</button>
                <p class="small text-danger text-center pt-3"
                   *ngFor="let mensagem of mensagensErroRegistro">{{mensagem}}</p>
            </form>
            <hr />
            <p class="small text-center text-success"
               *ngIf="mensagemCadastroRealizado"> {{mensagemCadastroRealizado}}</p>

        </div>
        <div class="d-flex justify-content-end">
            <button type="button"
                    class="m-1 btn btn-secondary btn-sm"
                    (click)="cancelarAtualizacaoCadastro()"
                    *ngIf="updatePaciente">Cancelar atualização de Prontuário</button>
        </div>
    </div>
    <br />
</div>